body {
  background-color: #ddd;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body .main-cointainer {
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.white {
  color: #fff; }

a {
  color: #00798C;
  text-decoration: none; }

.pointer {
  cursor: pointer; }

.mt-20 {
  margin-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.footer-card {
  text-align: right;
  margin-top: 40px; }
  .footer-card button {
    margin-left: 20px; }

.login-form {
  padding: 30px; }
  .login-form .text-center {
    text-align: center; }
  .login-form .error {
    background-color: #D1495B;
    margin-top: 20px; }
    .login-form .error #client-snackbar {
      display: flex;
      align-items: center; }
      .login-form .error #client-snackbar svg {
        margin-right: 10px; }

.navbar-drawer-header {
  font-weight: bold;
  padding: 10px; }
  .navbar-drawer-header .navbar-drawer-text {
    display: inline-block;
    position: relative;
    top: -11px;
    padding-right: 20px; }
  .navbar-drawer-header .navbar-logo {
    padding: 10px;
    width: 50px; }

a.white:active,
a.white:focus,
a.white:visited {
  color: #fff !important; }

.menu-text span {
  font-size: 1em; }

#navbar-menu a:focus {
  outline: none; }

#navbar-menu svg {
  margin-right: 10px; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  padding: 12px 20px;
  text-align: right;
  font-size: 14px; }
